################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Dispatcher/Client/obj
/Dispatcher/HttpDownload/obj
/Dispatcher/TaskDatabase/obj
/Dispatcher/NettyClient/obj
/Executer/DataCheck/obj
/Executer/DataExport/.vs/
/Executer/DataExport/JBIM/bin
/Executer/DataExport/JBIM/obj
/Executer/DataExport/packages
/Executer/DataExport/RevitExport/bin
/Executer/DataExport/RevitExport/obj
/Executer/DataExport/RevitToJBim/bin
/Executer/DataExport/RevitToJBim/obj
/OutputDll
/packages
/Starter/.vs/ExportStart/v15
/Starter/bin
/Starter/obj
/Executer/MBIRevitBase/obj/Debug
/Starter/Starter/obj/Debug
/Starter/StartVisionSelector/obj/Debug
/Executer/MBIRevitBase/obj/Release
/Executer/OutputDll
/Starter/Starter/obj/Release
/Starter/StartVisionSelector/obj/Release
/OutputDll - Test
/OutputDll -Test
.vs/
/**/Debug
/**/Release